# Alternative, potentially more stable requirements.txt for deployment
pandas
streamlit
google-generativeai
supabase
bcrypt
tensorflow-cpu
scikit-learn
google-api-python-client
geopy
cv2
PIL
deepface
streamlit_webrtc
